<div class="row rounded shadow-sm pt-3 pb-3 col-12">
    <div class="col-12">
        <h1 class="text-primary small font-weight-bold" style="font-size: 20px">Parâmetros do sistema</h1>
    </div>


    <div class="mt-5 col-12">
        <div class="col-lg-7 col-sm-4 ct-1 form-group">
            <label class="font-weight-bold">Diretório dos arquivos a serem processados</label>
            <input class="form-group col-12 parametros" id="vDiretorioArquivos" data-idParametro="1" />
        </div>

        <button class="btn btn-success ml-3" id="btnSalvarParametros">Salvar Parâmetros</button>

    </div>
</div>




@section Scripts
    {
    <script src="~/js/Scripts/Uteis.js"></script>
    <script src="~/js/Parametros/Parametros.js"></script>

}