<div class="modal-content" style="border: none; background-color: transparent">
    <div class="modal-body" style="vertical-align:central">
        <div class="spinner-grow text-success" role="status" style="width: 150px; height: 150px;margin-left: 5%">
            <span class="sr-only">Carregando...</span>
        </div>

    </div>
</div>