@{
    ViewData["Title"] = "Home Page";
}

<div class="row rounded shadow-sm pt-3 pb-3 col-12">
    <div class="col-12">
        <h1 class="text-primary small font-weight-bold" style="font-size: 20px">Leonardo Asprino Rocha</h1>
    </div>
    <hr style="width:50%;text-align:left;margin-left:0">
    <div class="col-12 mt-2">
        <h1 class="text-primary small font-weight-bold" style="font-size: 20px">Cargo prentendido: desenvolvedor .NET</h1>
    </div>
    <hr style="width:50%;text-align:left;margin-left:0">
    <div class="col-12 mt-2">
        <h1 class="text-primary small font-weight-bold" style="font-size: 20px">Pretensão salarial: R$ 4700,00</h1>
    </div>
    <hr style="width:50%;text-align:left;margin-left:0">
    <div class="col-12 mt-2">
        <h1 class="text-primary small font-weight-bold" style="font-size: 20px">Data do teste: 09/01/2023</h1>
    </div>
</div>